html, body
	width: 100%

body
	font:
		family: "Arial"

	-webkit-font-smoothing: antialiased
	-webkit-text-size-adjust: none

	#fillers
		display: none

	#grid,
	#grid_b,
	#grid-fixed
		position: relative
		width: 100%

		.block, 
		.mason_filler
			position: relative
			float: left
			background:
				color: #2979ff
			color: #fff

		.mason_filler
			background:
				color: #4fc3f7

	#grid-fixed
		width: 800px
		margin: auto