@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

*{
  margin: 0px;
}
body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  height: 100%;
  width: 100%;
}

.clearfix{
  clear: both;
  float: none;
  position: relative;
  content: ' ';
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}
a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}
blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  background-color: #039be5;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 125px;
  padding-bottom: 125px;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, .2);
  margin-bottom: 75px;
}
header h1{
  color: #fff;
  font-size: 58px;
}
header a {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

section.copy {
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 65px;
}

.example{
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.fillers{
  display: none;
}

.box,
#grid-a .filler {
  position: relative;
  float: left;
  background-color: #039be5;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.box h1,
.filler h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.filler,
.mason-filler,
.filler-fade {
  background-color: #ef5350;
}

#grid-b .filler{
  opacity: 0;
  -webkit-transition: opacity .35s;
  -moz-transition: opacity .35s;
  -o-transition: opacity .35s;
  -ms-transition: opacity .35s;
  transition: opacity .35s;
}

#grid-b .filler.show {
  opacity: 1;
}

@media print, screen and (max-width: 960px) {

@media print, screen and (max-width: 720px) {

@media print, screen and (max-width: 480px) {
 